{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <title>My Music App</title>
    <!-- Static Load -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>

<body>
<div id="box">

    <!-- Navigation Bar -->
    <header>
        <nav>
            <img src="{% static 'images/headphones.png' %}" alt="headphones">
            <a href="{% url 'index' %}">Home</a><ul></ul>
            <ul>
                <li><a href="{% url 'create album' %}">Create Album</a></li>
                <li><a href="{% url 'create song' %}">Create Song</a></li>
            </ul>
        </nav>
    </header>
    <!-- End Navigation Bar -->

    <!-- Main Content -->
    {% block content %}
    {% endblock %}
    
    <!-- Footer -->
    <footer>
        <div>
            &copy;SoftUni Team 2022. All rights reserved.
        </div>
    </footer>
    <!-- End Footer -->

</div>
</body>
</html>