{% extends 'common/base.html' %}

{% block content %}
<!--Edit Page-->
<section class="editPage">
    <form method="post" action="{% url 'delete album' album.id %}">
        <fieldset>
            <legend>Delete Album</legend>
            <div class="container">
                {{ form }}
                {% csrf_token %}
                
                <!-- Button for Deleting an Album -->
                <button class="delete-album" type="submit">Delete Album</button>
            </div>
        </fieldset>
    </form>
</section>
{% endblock %}