{% extends 'common/base.html' %}

{% block content %}
<!--Edit Page-->
<section class="editPage">
    <form method="post" action="{% url 'edit album' album.id %}">
        <fieldset>
            <legend>Edit Album</legend>
            <div class="container">
                {{ form }}
                {% csrf_token %}
                
                <button class="edit-album" type="submit">Edit Album</button>
            </div>
        </fieldset>
    </form>
</section>
{% endblock %}