{% extends 'common/base.html' %}

{% block content %}
<section id="details">
    <div id="details-wrapper">
        <!-- fruit image -->
        <img
                id="details-img"
                src="{{ fruit.image_url }}"
                alt="example1"
        />
        <!-- fruit name -->
        <p id="details-title">Name: {{ fruit.name }}</p>
        <div id="info-wrapper">
            <div id="details-description">
                <p id="category">Category: {{ fruit.category.name }}</p>
                <!-- fruit description -->
                <p>
                   {{ fruit.description }}
                </p>
                <!-- fruit nutrition -->
                <p id="nutrition">Nutrition</p>
                <!-- fruit nutrition details -->
                <p id="details-nutrition">
                    {{ fruit.nutrition }}
                </p>
            </div>

            <!--Edit and Delete buttons -->
            <div id="action-buttons">
                <a href="{% url 'edit_fruit' fruit.pk %}" id="edit-btn">Edit</a>
                <a href="{% url 'delete_fruit' fruit.pk %}" id="delete-btn">Delete</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}